{% extends "newsletter/message/menus/message_base.html" %}
{% load i18n %}
{% load tz %}
{% load url from future %}{% load thumbnail %}
{% block content %}
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
    <tr>
        <td valign="top" class="bodyContent">
            {% for article in message.articles.all %}
                <h2>{{ article.title }}</h2>
                <div>{{ article.text|safe }}</div>
                
                {% if article.url %}
                    <div><a href="{{ article.url }}">Read more</div></a>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
{% endblock %}